body {
	padding: 0px;
}


.messages {
	width: 100%;
	ul {
		width: 100%;
		padding: 0px;
		margin: 0px;
		list-style: none;
		li {
			padding: 10px;
			margin: 10px 0px;
			display: flex;
			position: relative;
			width: 100%;
			.user {
				width: 50px;
				margin: 0px 10px;
				.avatar {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					background-size: contain;
					background-repeat: repeat;
				}
			}
			.text {
				width: 100%;
				background-color: white;
				border: solid 1px #f0f0f0;
				box-shadow: 1px 1px 5px -3px #444;
				border-radius: 5px;
				padding: 10px;
			}
			.space {
				width: 50px;				
			}
			&.self {
				flex-direction: row-reverse;
			}
		}
	}
}

.form-inline {
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0px;
	input {
		width: 100%;
		padding: 10px;
		border: solid 1px #fafafa;
		box-shadow: 1px 1px 5px -3px #444;
		margin: 0px 5px;
	}
	button {
		width: 100px;
	}
}